[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==0.80.0"
beautifulsoup4 = "*"
tensorflow = "*"
nltk = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.8"
